<%- include("partials/header") %>
    <div class="jumbotron">
        <form>
            <a class="btn btn-primary btn-large" href="home/images">Images</a>
            <a class="btn btn-primary btn-large" href="home/videos">Videos</a>
            <a class="btn btn-primary btn-large" href="home/audios">Audios</a>
        </form>
    </div>
<%- include("partials/footer") %>